# temporary files, log files
*.log
*.e[0-9]*
*.o[0-9]*

# python junk
*.pyc
*.ipynb_checkpoints

#vs-code junk
*.code-workspace

#images
*.png

# big outputs
*.nc
*.mat
data/raw/
*.nc.backup

# Stupid Mac files
.DS_Store
